---
layout: blog
title: "Emergent Living - Blog"
---

<section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10 md:gap-y-24">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
        <article class="hover:opacity-75 transition-opacity">
            {% if post.data.cover %}
               <a href="{{ post.url | url }}"> <div style="background-image: url({{ post.data.cover }})" class="w-full h-96 mb-4 bg-center bg-cover"></div></a>
            {% endif %}
            
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-green-700 font-bold text-lg">
                    Read more →
                </a>
            </p>

        </article>
    {% endfor %}
</section>